.sosmed {
	padding:5px 0;
	background-color: ##D7DBDD;
}
.sosmed  ul li {
	color: red;
	margin-right: 10px;
}
.container {
	background-color: lightblue;
}
h1 {
	text-transform: uppercase;
	color: red
}
h5 {
	color: red;
}
.home {
	background-color: #33F4FF;
}
.nama {
	background-color: #33FFE5;
}
h2 {
	text-transform: uppercase;
	color: red;
}
.media {
	background-color: #33F7FF;
}
h6 {
	color: red;
}
h4 {
	color: red;
}